<form action="/manor/new" method="post">
  <label for="name">
    Name: <input type="text" name="name">
  </label>
  <label for="description">
    Description: <input type="textarea" name="description">
  </label>
</form>

