<h1> <%= @request.manor.name %> </h1>

<h2> <%= @request.user.name %> </h2>

<h2> <%= @request.user.email %> </h2>

<h3> <%= @request.date_from %> </h3>

<p> Confirm Request </p>

<h1>Hello World</h1>
