<h1> <%= @owner_request.manor.name %> </h1>

<h2> <%= @owner_request.user.name %> </h2>

<h2> <%= @owner_request.user.email %> </h2>

<h3> <%= @owner_request.date_from %> </h3>

<p> Confirm Request </p>
