<!DOCTYPE html>
<html>


  <head>
    <title>ExitBeforeBrexit</title>
  </head>
    <body>
       <h1> ExitBeforeBrexit </h1>

       <form action='/manors' >
         <input type='submit' value='Manors' >
       </form>

      <% if current_user %>
        <form action='/sessions/end' method='post'>
          <input type='hidden' name='_method' value='delete' >
          <input type='submit' value="Log out" >
        </form>
        <form action='manors/new' >
          <input type='submit' value='List New Manor' >
        </form>
      <% end %>

      <% if !current_user && @current_page != '/sessions/new'%>
        <form action='/sessions/new' >
          <input type='submit' value='Log in'>
        </form>
      <% end %>

      <% if !current_user && @current_page != '/users/new'%>
        <form action='/' >
          <input type='submit' value='Sign up'>
        </form>
      <% end %>

      <%= partial :flash %>
      <%= yield %>
    </body>
</html>
