<!DOCTYPE html>
<html>
  <head>
    <title>ExitBeforeBrexit</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" >
  </head>
    <body class='background'>
       <h1> ExitBeforeBrexit </h1>

       <form action='/manors' >
         <input type='submit' value='Manors' >
       </form>

      <% if current_user %>
        <form action='/sessions/end' method='post'>
          <input type='hidden' name='_method' value='delete' >
          <input type='submit' value="Log out" >
        </form>
        <form action='manors/new' >
          <input type='submit' value='List New Manor' >
        </form>
      <% end %>

      <% if !current_user %>
        <form action='/' >
          <input type='submit' value='Sign up'>
        </form>
        <form action='/sessions/new' >
          <input type='submit' value='Log in'>
        </form>
      <% end %>

      <%= partial :flash %>
      <%= yield %>
    </body>
</html>
