<!DOCTYPE html>
<html>


  <head>
    <title>ExitBeforeBrexit</title>
  </head>
    <body>
       <h1> ExitBeforeBrexit </h1>
       
      <% if current_user %>
        <form action='sessions/end' method='post'>
          <input type='hidden' name='_method' value='delete' >
          Log Out: <input type='submit' value="Log out" >
        </form>
      <% end %>

      <%= partial :flash %>
      <%= yield %>
    </body>
</html>
